# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [2]:
series1= np.random.randint(1,4, size= 100)
series2= np.random.randint(1,3, size= 100)
series3= np.random.randint(10000,30000, size= 100)

### Step 3. Let's create a DataFrame by joinning the Series by column

In [4]:
df = pd.DataFrame({
    "Series1": series1,
    "Series2": series2,
    "Series3": series3
})

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [6]:
df.rename({
    "Series1":"bedrs",
    "Series2":"bathrs",
    "Series3":"price_sqr_meter"
}, inplace=True)

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [8]:
series1= np.random.randint(1,4, size= 100)
series2= np.random.randint(1,3, size= 100)
series3= np.random.randint(10000,30000, size= 100)
# concatenate the three series into a column
bigcolumn = pd.concat([series1, series2, series3], axis=0, ignore_index=True)

# print the new DataFrame
print(bigcolumn)

TypeError: cannot concatenate object of type '<class 'numpy.ndarray'>'; only Series and DataFrame objs are valid

### Step 6. Oops, it seems it is going only until index 99. Is it true?

### Step 7. Reindex the DataFrame so it goes from 0 to 299